/* Style.css */
body {
  background: rgb(52, 52, 52);
  color: bisque;
}

img {
  position: fixed;
  z-index: 0;
  transition: 0.3s;
}

body img:nth-child(1) {
  width: 200px;
  top: 30px;
}

body img:nth-child(2) {
  width: 400px;
  left: 500px;
  top: 300px;
}

body img:nth-child(3) {
  width: 100px;
  left: 60px;
  top: 600px;
}

.home-content {
  position: relative;
  z-index: 1;
  padding: 100px 15%;
}
